.div-navigation-center{
    margin: auto;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

a {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  a:hover {background-color: #3e8e41}
  
  a:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }